/* Estilização da top bar */
#top-bar {
  background-color: var(--color-background-2);
  color: var(--color-title);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top-bar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

#top-bar ul li {
  display: inline-block;
  margin-right: 20px;
}

#top-bar ul li:last-child {
  margin-right: 0px;
}

#top-bar ul li a {
  color: var(--color-text);
  text-decoration: none;
}

#top-bar ul li a:hover {
  color: var();
}

#button-theme {
  height: var(--theme-button-size);
  width: var(--theme-button-size);
  border: none;
  border-radius: 50vh;
  background-color: rgba(0, 0, 0, 0);
}

#button-theme > svg {
  height: var(--theme-button-size);
  width: var(--theme-button-size);
  color: var(--color-text);
}
