:root {
  --color-background-1: #151515;
  --color-background-2: #202020;
  --color-background-3: #070605;
  --color-highlight-1: #f96900;
  --color-highlight-2: #22aed1;
  --color-highlight-3: #eaf9d9;
  --color-title: #ffffff;
  --color-text: #eeeeee;
}
